@{
  Layout = "_Layout";
}

@model FavoriteRestaurants.Models.Restaurant

<h2>Are you sure you want to delete information about this restaurant?</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-secondary"/>
}
@Html.ActionLink("Back to List", "Index")
@Html.Partial("Footer")