@{
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Favorite Restaurants</h1>
<hr>
<p>We have hand-selected our favorites. Check them out!</p>
</div>

</div class="links3">
  <div class="link">
    <p>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Search Restaurants", "Search", "Restaurants")</p>
  </div>
</div>
