@{
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Favorite Restaurants</h1>
<hr>
<p>We have hand-selected our favorites. Check them out!</p>
</div>
<img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_675,q_80,w_1920/v1/clients/knoxville/7_JQ1A3935_8951c754-4841-4304-a50d-e64e51c66205.jpg" class="img-fluid" alt="">

<div class="links3">
  <div class="link">
    <p>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Search Restaurants", "Search", "Restaurants")</p>
  </div>
</div>
