@{
  Layout = "_Layout";
}

@model FavoriteRestaurants.Models.Cuisine
<div class="jumbotron">
  <h2>Add a new restaurant</h2>
</div>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <input type="submit" value="Add new cuisine" class="btn btn-secondary"/>
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>
@Html.Partial("Footer")